<div class="row" id="contacto">
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          href="https://www.facebook.com/victoria5785" target="_blank">
        <img src="../../../assets/facebook.png" id="facebook"></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        href="https://twitter.com/VictoriaPenin" target="_blank">
         
          <img src="../../../assets/twitter.png" id="twitter">
        </a>
  
       
        <!-- Instagram -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
          href="https://www.instagram.com/vicky5785/" target="_blank"
          >
          <img src="../../../assets/instagram.png" id="instagram"></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        href="https://www.linkedin.com/in/maria-victoria-pe%C3%B1in-189ab436/" target="_blank"
          >
          <img src="../../../assets/linkedin.png" id="linkedin"></a>
  
        <!-- Github -->
        <a class="btn btn-outline-dark btn-floating m-1" href="#!" role="button"
        href="https://github.com/VictoriaPenin" target="_blank"
          >
          <img src="../../../assets/github.png" id="github" ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>Maria Victoria Peñin | © Argentina Programa 2023</p>
        <p>Córdoba, Argentina</p>
    
    </div>
    <!-- Copyright -->
  </footer>
</div>