<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
crossorigin="anonymous"
referrerpolicy="no-referrer"/>

   
<meta name="viewport" content="width=device-width, initial-scale=1">
<section class="top-nav">
    <div class="col-lg-2 logo">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
          <img src="../../../assets/APLogo.png" id="logo" />
        </a>
      </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
  <div class='menu-button'></div>
</label>
<ul class="menu">
    <li class="list-inline-item"><a href="#educacion" >Educacion</a></li>
    <li class="list-inline-item"><a href="#experiencia" >Experiencia</a></li>
    <li class="list-inline-item"><a href="#skills" >Habilidades</a></li>
    <li class="list-inline-item"><a href="#proyecto">Proyectos</a></li>
    <li class="list-inline-item"><a href="#contacto">Contactame</a></li>
  </ul>
</section>



<!--
    <div class="row">
      <div class="col-lg-2 logo">
        <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa" target="_blank">
          <img src="../../../assets/APLogo.png" id="logo" />
        </a>
      </div>
  
      <div class="col-lg-8 col-md-12 col-sm-12 navigation">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#educacion" class="btn btn-primary">Educacion</a></li>
          <li class="list-inline-item"><a href="#experiencia" class="btn btn-primary">Experiencia</a></li>
          <li class="list-inline-item"><a href="#skills" class="btn btn-primary">Habilidades</a></li>
          <li class="list-inline-item"><a href="#proyecto" class="btn btn-primary">Proyectos</a></li>
          <li class="list-inline-item"><a href="#contacto" class="btn btn-primary">Contactame</a></li>
        </ul>
      </div>
  
      <div class="col-lg-2 col-md-12 col-sm-12" id="boton">
        <button type="button" class="cta-button btn btn-secondary" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
        <button type="button" class="cta-button btn btn-secondary" (click)="onLogOut()" *ngIf="isLogged">SALIR</button>
      </div>
    </div>
-->