<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="row d-flex justify-content-center">
<h1 id="proyecto">Proyectos</h1>

<div class="card">
  <img class="card-img card-img-top mx-auto"  src="assets/ahorcado (1).png"> 
  <div class="card-body">
    <h5 class="card-title">Ahorcado</h5>
    <p class="card-text">Juego del Ahorcado, desarrollado en Html, CSS y JavaScript como consigna del curso de Alura Latam</p>
  </div>

  <div class="mt">
    <a href="#" tabindex="0" class="btn bg-blue-ui white read">GitHub</a>
  </div>
</div>
<div class="card" >
  <img class="card-img card-img-top mx-auto"   src="assets/clima.png"> 
  <div class="card-body">
    <h5 class="card-title">Aplicación de clima</h5>
    <p class="card-text">Aplicacion de clima, desarrollado en Html, CSS y JavaScript brinda informacion actualizada del clima en tiempo real de cualquier ubicación seleccionada</p>
  </div>

  <div class="mt">
    <a href="#" tabindex="0" class="btn bg-blue-ui white read">GitHub</a>
  </div>
</div>
<div class="card" >
  <img class="card-img card-img-top mx-auto"  src="assets/encriptador.png"> 
  <div class="card-body">
    <h5 class="card-title">Encriptador</h5>
    <p class="card-text">Encriptador, desarrollado en Html, CSS y JavaScript como consigna del curso de Alura Latam, permite ingresar cualquier frase y convertirla en codigo encriptado</p>
  </div>
  
 
  <div class="mt">
    <a href="#" tabindex="0" class="btn bg-blue-ui white read">GitHub</a>
  </div>
</div>

<div class="card" >
  <img class="card-img card-img-top mx-auto" src="assets/image.png"> 
  <div class="card-body">
    <h5 class="card-title">Service +</h5>
    <p class="card-text">Service +, desarrollado en Html, CSS y Java con Sring Boot, permite el vinculo entre usuarios y proveedores para contactar sus servicios profesionales</p>
  </div>
  <div class="mt">
    <a href="#" tabindex="0" class="btn bg-blue-ui white read">GitHub</a>
  </div>
</div>


